

        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Cypress Hills Local Development Corp.
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- FastClick -->
    <!-- <script src="/libs/js/fastclick.js"></script> -->
    <!-- NProgress -->
    <!-- <script src="/libs/js/nprogress.js"></script> -->
    <!-- Custom Theme Scripts -->
    <script src="/libs/js/custom.min.js"></script>
    <!-- Chart.js -->
    <!-- <script src="/libs/js/Chart.min.js"></script> -->
    <!-- gauge.js -->
    <!-- <script src="/libs/js/gauge.min.js"></script> -->
    <!-- bootstrap-progressbar -->
    <!-- <script src="/libs/js/bootstrap-progressbar.min.js"></script> -->
    <!-- iCheck -->
    <!-- <script src="/libs/js/icheck.min.js"></script> -->
    <!-- Skycons -->
    <!-- <script src="/libs/js/skycons.js"></script> -->
    <!-- Flot -->
    <!-- <script src="/libs/js/jquery.flot.js"></script>
    <script src="/libs/js/jquery.flot.pie.js"></script>
    <script src="/libs/js/jquery.flot.time.js"></script>
    <script src="/libs/js/jquery.flot.stack.js"></script>
    <script src="/libs/js/jquery.flot.resize.js"></script> -->
    <!-- Flot plugins -->
    <!-- <script src="/libs/js/jquery.flot.orderBars.js"></script>
    <script src="/libs/js/jquery.flot.spline.min.js"></script>
    <script src="/libs/js/curvedLines.js"></script> -->
    <!-- DateJS -->
    <!-- <script src="/libs/js/date.js"></script> -->
    <!-- JQVMap -->
    <!-- <script src="/libs/js/jquery.vmap.min.js"></script>
    <script src="/libs/js/jquery.vmap.world.js"></script>
    <script src="/libs/js/jquery.vmap.sampledata.js"></script> -->
    <!-- bootstrap-daterangepicker -->
    <!-- <script src="/libs/js/moment.min.js"></script>
    <script src="/libs/js/daterangepicker.js"></script> -->


  </body>
</html>
