<% include ./header.ejs %>
<div class="row tile_count">
   <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
      <div class="count">{{data.users.length}}</div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-building"></i> Total Businesses</span>
      <div class="count">{{data.companies.length}}</div>
   </div>
   <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-book"></i> Total Jobs</span>
      <div class="count">{{data.jobs.length}}</div>
   </div>
</div>
<!-- /top tiles -->
<div class="">
   <div class="clearfix"></div>
</div>
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
         <div class="row x_title">
            <div class="col-md-6">
               <h3 ng-show="page == 1">List of Users</h3>
               <h3 ng-show="page == 2">List of Businesses</h3>
               <h3 ng-show="page == 3">List of Jobs</h3>
            </div>
            <!-- <div class="col-md-6">
               <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
               </div>
            </div> -->
         </div>
         <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder">

            </div>
            <div style="width: 100%;">
               <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;">
                   <br>
                   <div ng-show="page == 1">
                       <div class="col-sm-4" ng-repeat="user in data.users">
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <h3>{{user.first}} {{user.last}}</h3>
                               </div>
                               <div class="panel-body" style="height: 180px">
                                   <div class="row">
                                       <div class="col-sm-12">
                                           <p>"{{user.obj}}"</p>
                                           <hr>
                                           <p>Job Interests: <span ng-repeat="interest in user.job_interests">{{interest}}<span ng-if="$index != user.job_interests.length - 1 || $index.length == 1">, </span></span><span ng-if="user.job_interests.length == 0">None</span></p>
                                       </div>
                                   </div>
                               </div>
                               <div class="panel-footer">
                                   <div ng-init="user.displayInfo = false" ng-show="user.displayInfo">
                                       <p ng-if="user.cell">Cell: {{user.cell}}</p>
                                       <p ng-if="user.home">Home: {{user.home}}</p>
                                       <p>Email: {{user.email}}</p>
                                   </div>
                                   <div class="btn btn-default fa fa-ellipsis-h"></div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div ng-show="page == 2">
                       <div class="col-sm-4" ng-repeat="company in data.companies">
                           <div class="panel panel-default">
                               <div class="panel-body">
                                   <div class="col-sm-3">
                                       <div class="profile_pic">
                                          <img src="{{company.logo}}" style="height: 50px; width: 50px; margin-top: -3px;" alt="..." class="img-circle profile_img">
                                       </div>
                                   </div>
                                   <div class="col-sm-8">
                                       <p>{{company.name}}</p>
                                       <p><small>{{company.address}} {{company.city}} {{company.state}}, {{company.zip}}</small></p>
                                   </div>
                                   <!-- <br>
                                   <div class="row">
                                       <div class="btn btn-primary btn-sm pull-right fa fa-ellipsis-h"></div>
                                   </div> -->
                                   <hr>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div ng-show="page == 3">
                       <div class="col-sm-4" ng-repeat="job in data.jobs">
                           <div class="panel panel-default">
                               <div class="panel-body">
                                   <div class="col-sm-3" style="border-right: solid #e5e4e2 1px">
                                       <div class="profile_pic">
                                          <img src="{{job.logo}}" style="height: 50px; width: 50px; margin-top: -3px;" alt="..." class="img-circle profile_img">
                                       </div>
                                   </div>
                                   <div class="col-sm-9">
                                       <p>{{job.jb_position}} - {{job.company.name}}</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<% include ./footer.ejs %>
