<% include ../templates/header.ejs %>

<div class="container">
    
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-3 col-lg-2">
            <a href="Admin/Member">
                <button class="btn btn-default">Members</button>
            </a> 
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3 col-lg-2">
            <a href="Admin/Companies">
                <button class="btn btn-default">Companies</button> 
            </a>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3 col-lg-2">
            <a href="Admin/Jobs">
                <button class="btn btn-default">Jobs</button> 
            </a>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3 col-lg-2">
            <a href="Admin/Advertising">
                <button class="btn btn-default">Advertising</button> 
            </a>
        </div>
    <div>
</div>
