<% include ../templates/header.ejs %>

<div class="container">
    
    <%= title %>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <button class="btn btn-default">Members</button> 
        </div>
    <div>
    <div class="row">
        <%= user %>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table>
                <tr>
                    <th><td>Email</td></th><th><td>First</td></th>
                </tr><tr>
                    
                    <% for(var i = 0; i < user.length; i++) { %>
                        <td> <%= user[i].email %> </td>
                        <td> <%= user[i].f_name %> </td>
                    <% } %>

                </tr>
            </table>
        </div>
    </div>


</div>


<% include ../templates/footer.ejs %>
