<% include ./templates/header %>
    <div class="container">
        <div class="page-header">
             <center><h1>Post a new Job</h1></center>
         </div>
      <form action="/newJob" method="POST">
          <div class="form-group">
            <label>Job Position</label>
            <input type="text" class="form-control" name="jb_position" placeholder="Job Position">
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control" name="jb_desc" placeholder="Job Description"></textarea>
          </div>

          <div class="form-group">
            <label>Description Teaser</label>
            <input type="text" class="form-control" name="jb_desc_teaser" placeholder="Job Description" maxlength="100">
          </div>

          <div id="dvSkillsSection">
            <label>Required Skills</label>
            <div class="form-group" data-input="0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter skill" name="req_skills[]" />
                <span class="input-group-btn">
                  <button id="btnNewSkill" type="button" class="btn btn-default" aria-label="Left Align" onclick="createInput()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

          </div>

          <div class="form-group">
            <label>Contact Information</label>
            <input type="text" class="form-control" name="contact" placeholder="Contact">
          </div>

          <div class="form-group">
            <label>Pay Rate</label>
            <input type="number" class="form-control" name="pay_rt" placeholder="Pay Rate">
          </div>

          <div class="form-group">
              <label>Deadline</label>
              <input type="date" class="form-control" name="deadline">
          </div>

          <input type="hidden" value="<%= user._id %>" name="company_id">

          <!-- <div class="checkbox">
              <label>
                  <input type="checkbox" value="true"> Internship
              </label>
          </div> -->
          <button type="submit" class="btn btn-primary pull-right">Post New Job</button>
      </form>
  <div>
<% include ./templates/footer %>
