html, body{
    height: 100%;
}
html{
    overflow: hidden;
}
body{
    overflow: scroll;
}
.aside{
    height: 100vh;
    background-color: rgba(0,0,0,.9);
}

.home{
    background: url("http://spectruminformation.com/wp-content/uploads/2014/06/Dollarphotoclub_53028495-PD-biz-network-hadnshake.jpg");
}

.login{
    background: url("http://rri.res.in/~inhouse/images/contact-back.jpg");
}

.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    border-radius: 0;
}

.display{
    display: visible;
}

.thumbnail{
    height: 400px;
}

.picture{
  height: 300px;
  width: 250px;
}

.catsal{
    height: 30px;
}

.site-footer {
  display: table-row;
  height: 1px;
}

/*.container{
  width: 600px;
  border: solid 1px red;
}*/
.box1{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
p{
    word-wrap: break-word;
}
.desc_teaser{
    height: 45px;
}

.col-xs-12 {
  margin-top: 2em;
}

.spacer {
  height: 30px;
}
.site-footer {
  display: block;
  height: 1px;
}
.hidden-form{
    display: none;
}
