<% include ../templates/header %>
<div class="container" ng-controller="businessCtrl" ng-init="refresh()">
   <div class="panel panel-default">
      <div class="panel-body row">
         <div class="col-sm-2">
            <img class="img-responsive" src="{{data.c.logo}}" alt="...">
         </div>
         <div class="col-sm-10">
            <div class="right">
               <h1>{{ data.c.name }}</h1>
               <h4>{{ data.c.address }}</h4>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12">
      <!-- <div class="panel panel-default"> -->
         <div class="page-header">
            <center>
               <h1>History</h1>
            </center>
         </div>
         <!-- <div class="panel-body"> -->
            <p>{{data.c.history}}</p>
            <p ng-if="!data.c.history">Business History Not Available</p>
         <!-- </div> -->
      <!-- </div> -->
   </div>
   <div class="col-sm-12">
      <!-- <div class="panel panel-default"> -->
         <!-- <div class="panel-body"> -->
            <center>
               <h1 class="page-header">Jobs<small class="pull-right">
                  <em>{{ data.jobs.length }} results</em>
                  </small>
               </h1>
            </center>
            <div class="row">
                <div class="col-sm-6" ng-repeat="job in data.jobs">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-3" style="border-right: solid #e5e4e2 1px">
                                <div class="profile_pic">
                                   <img src="{{job.logo}}" style="height: 50px; width: 50px; margin-top: -3px;" alt="..." class="img-circle profile_img">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p>{{job.position}} - {{job.company.name}}</p>
                                <p>{{job.pay_rt}} per {{job.sal}}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="/Job/Details/{{job._id}}" class="btn btn-default fa fa-ellipsis-h"></a>
                            <a ng-click="removeJob()" class="btn btn-danger fa fa-trash pull-right"></a>
                        </div>
                    </div>
                </div>
               <div class="col-sm-12">
                   <div class="panel panel-default">
                       <div class="panel-body">
                           <h3 class="pull-left">Want to post a new job?</h3>
                           <a href="/Job/Add/{{data.c._id}}" class="pull-right btn btn-lg btn-primary fa fa-plus"></a>
                       </div>
                   </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
</html>
