<% include ../templates/header.ejs %>

<div class="container">
    <h1> Company Directory</h1>

    <%= company %>
<<<<<<< HEAD
=======
    
    <a href="../Job/Add" class="btn btn-primary" >Add a job</a>
>>>>>>> 4a5c3456a9e1ca5934f4da2a67357f45a890d8c6
</div>

<% include ../templates/footer.ejs %>
