<% include ../templates/header.ejs %>

<div class="container">
    <h1> Company Directory</h1>

    <%= company %>
    
    <a href="../Job/Add" class="btn btn-primary" >Add a job</a>
</div>

<% include ../templates/footer.ejs %>
