<div class="row">
   <div class="col-xs-12 col-sm-3">
      <center>
         <h1><small>Education</small></h1>
      </center>
   </div>
   <div class="col-xs-12 col-sm-9">
      <div ng-show="edu.length == 0" class="panel panel-default">
         <div class="panel-body">
            You have no Education Experience posted. Would you like to add one?
            <div ng-click="show('Edu')" class="btn btn-primary pull-right fa fa-plus eduBtn"></div>
         </div>
      </div>
      <div ng-repeat="e in edu" class="panel panel-default">
         <div class="panel-body">
            <p><u>{{ e.instit_name }} / {{ e.deg }}</u></p>
            <p>{{ e.yr_grad }}</p>
            <p>{{ e.f_study }}</p>
            <div class="row">
               <div class="col-xs-2 col-xs-offset-10">
                  <div value="{{$index}}" class="fa fa-pencil btn btn-lg btn-success edu_edit"></div>
                  <!-- <form method="POST" action="removeEducation" style="display: inline-block"> -->
                     <!-- <input type="hidden" value="{{ e._id }}" name="edu_id"/> -->
                     <button ng-click="removeEdu(e._id)" class="fa fa-trash btn-lg btn-danger"></button>
                  <!-- </form> -->
               </div>
            </div>
         </div>
      </div>
      <div ng-show="edu.length > 0" class="panel panel-default">
         <div class="panel-body">
            <div ng-click="show('Edu')" class="btn btn-primary pull-right fa fa-plus eduBtn"></div>
         </div>
      </div>
      <div ng-show="dEdu" class="panel panel-default eduForm">
         <div class="panel-body">
             <div class="col-xs-12">
                <center>Education</center>
                <div class="form-group">
                   <label>Name of Institution</label>
                   <input type="text" ng-model="eduData.instit_name" class="form-control" placeholder="Name of Institution">
                </div>
                <div class="form-group">
                   <label>Degree</label>
                   <input type="text" ng-model="eduData.deg" class="form-control" placeholder="Degree">
                </div>
                <div class="form-group">
                   <label>Field of Study</label>
                   <input type="text" ng-model="eduData.f_study" class="form-control" placeholder="Field of Study">
                </div>
                <div class="form-group">
                   <label>Year Graduated</label>
                   <input type="number" ng-model="eduData.yr_grad" class="form-control" placeholder="1990">
                </div>
                <div class="row">
                   <button ng-click="addEdu()" class="btn btn-primary">Add Edu</button>
                </div>
             </div>
            </form>
         </div>
      </div>
   </div>
</div>
