<div class="row">
   <div class="col-xs-12 col-sm-3">
      <center>
         <h1><small>Work Experience</small></h1>
      </center>
   </div>
   <div class="col-sm-9 col-xs-12">
      <div ng-show="exp.length == 0" class="panel panel-default">
         <div class="panel-body">
            You have no Work Experience posted. Would you like to add one?
            <div ng-click="show('Exp')" class="btn btn-primary pull-right fa fa-plus expBtn"></div>
         </div>
      </div>
      <div ng-repeat="e in exp" class="panel panel-default">
          <div class="panel-body">
              <div class="col-sm-1">
                  <span class="fa fa-building fa-2x"></span>
              </div>
              <div class="col-sm-11">
                  <p>{{e.jb_position}}</p>
              </div>
          </div>
          <div class="panel-footer">
              <div value="{{$index}}" class="fa fa-pencil btn btn-success exp_edit"></div>
              <div ng-click="removeExp(e._id)" class="fa fa-trash btn btn-danger"></div>
          </div>
      </div>
      <div ng-show="exp.length > 0" class="panel panel-default">
         <div class="panel-body">
             <span>Add a new Job Experience? </span>
            <div ng-click="show('Exp')" class="btn btn-primary pull-right fa fa-plus expBtn"></div>
         </div>
      </div>
      <div ng-show="dExp" class="panel panel-default expForm">
         <div class="panel-body">
             <div class="form-group">
               <label>Company Name</label>
               <input type="text" class="form-control" ng-model="jobData.company_name" name="company_name" placeholder="Company Name">
             </div>
             <div class="form-group">
               <label>Job Position</label>
               <input type="text" class="form-control" ng-model="jobData.jb_position" name="job_position" placeholder="Job Position">
             </div>
             <div class="form-group">
               <label>Job Description</label>
               <textarea type="text" class="form-control" ng-model="jobData.jb_description" name="job_description" placeholder="Password"></textarea>
             </div>
             <div class="form-group">
               <label>Start - End Date</label>
               <div class="row">
                 <div class="col-lg-6">
                   <input type="date" ng-model="start_date" class="form-control" name="jobData.start_date">
                 </div>
                 <div class="col-lg-6">
                   <input type="date" ng-model="end_date" class="form-control" name="jobData.end_date">
                 </div>
               </div>
             </div>
             <div class="row">
                 <div class="btn btn-primary" ng-click="addExp()">Add Exp</div>
             </div>
         </div>
      </div>
   </div>
</div>
