<div class="row">
   <div class="col-xs-12 col-sm-3">
      <center>
         <h1><small>Volunteer Work</small></h1>
      </center>
   </div>
   <div class="col-xs-12 col-sm-9">
      <div ng-show="vol.length == 0" class="panel panel-default">
         <div class="panel-body">
            You have no Volunteer Experience posted. Would you like to add one?
            <div ng-click="show('Vol')" class="btn btn-primary pull-right fa fa-plus volBtn"></div>
         </div>
      </div>
      <div ng-repeat="v in vol" class= "panel panel-default">
         <div class="panel-body">
            <p><u> {{v.org}}/ {{v.cause}}</u></p>
            <p>{{v.role}}/{{v.desc}}</p>
            <div class="row">
               <div class="col-xs-2 col-xs-offset-10">
                  <div class="fa fa-pencil btn btn-lg btn-success"></div>
                  <button ng-click="removeVol(v._id)" class="fa fa-trash btn-lg btn-danger"></button>
               </div>
            </div>
         </div>
      </div>
      <div ng-show="vol.length > 0" class="panel panel-default">
         <div class="panel-body">
            <div ng-click="show('Vol')" class="btn btn-primary pull-right fa fa-plus volBtn"></div>
         </div>
      </div>
      <div ng-show="dVol" class="panel panel-default volForm">
         <div class="panel-body">
           <div class="form-group">
              <label>Organization</label>
              <input type="text" class="form-control" ng-model="volData.org" placeholder="Name of Organization">
           </div>
           <div class="form-group">
              <label>Role</label>
              <input type="text" class="form-control" ng-model="volData.role" placeholder="Role">
           </div>
           <div class="form-group">
              <label>Cause</label>
              <input type="text" class="form-control" ng-model="volData.cause" placeholder="Cause">
           </div>
           <div class="form-group">
              <label>description</label>
              <textarea type="text" class="form-control" ng-model="volData.desc" placeholder="Description"></textarea>
           </div>
           <div class="row">
              <div class="col-lg-12">
                 <button ng-click="addVol()" class="btn btn-primary">Submit</button>
              </div>
           </div>
         </div>
      </div>
   </div>
</div>
