<div class="form-group">
    <label>Basic Information</label>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <input class="form-control" ng-model="f_name" type="text" name="f_name" placeholder="First Name">
        </div>
        <div class="col-xs-12 col-sm-6">
            <input class="form-control" ng-model="l_name" type="text" name="l_name" placeholder="Last Name">
        </div>
    </div>
</div>
<div class="form-group">
  <label>Contact Information</label>
  <div class="row">
      <div class="col-xs-12 col-sm-6">
          <!-- input type="Number" name="home" pattern=".{10,10}" class="form-control" placeholder="Home Phone Number"/ -->
          <select class="form-control" ng-model="contact" name="contact_type" required>
            <option selected>-- Select -- </option>
            <option value="mobile">Mobile</option>
            <option value="home">Home</option>
          </select>
      </div>
      <div class="col-xs-12 col-sm-6">
          <input ng-if="contact == 'mobile'" type="text" ng-model="cell" name="contact_number" class="form-control" placeholder="Mobile Cell Phone"/>
          <input ng-if="contact == 'home'" type="text" ng-model="home" name="contact_number" class="form-control" placeholder="Home Phone"/>
      </div>
  </div>
</div>

<div class="form-group">
  <label>Objective</label>
  <textarea ng-model="objective" type="text" name="obj" class="form-control" placeholder="Objective" row="3"></textarea>
</div>

<div class="form-group">
  <label>Job Interests</label>
  <div class="row">
      <div class="col-xs-12 col-md-4">
          <select name="job_interests[]" class="form-control" id="catergories">
          </select>
      </div>
      <div class="col-xs-12 col-md-4">
          <select name="job_interests[]" class="form-control" id="catergories2">
          </select>
      </div>
      <div class="col-xs-12 col-md-4">
          <select name="job_interests[]" class="form-control" id="catergories3">
          </select>
      </div>
  </div>
</div>
