<div class="form-group">
    <label>Basic Information</label>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <input class="form-control" ng-model="first" type="text" placeholder="First Name">
        </div>
        <div class="col-xs-12 col-sm-6">
            <input class="form-control" ng-model="last" type="text" placeholder="Last Name">
        </div>
    </div>
</div>
<div class="form-group">
  <label>Contact Information</label>
  <div class="row">
      <div class="col-xs-12 col-sm-6">
          <select class="form-control" ng-model="contact" required>
            <option value="mobile">Mobile</option>
            <option value="home">Home</option>
          </select>
      </div>
      <div class="col-xs-12 col-sm-6">
          <input ng-if="contact == 'mobile'" type="text" ng-model="cell" class="form-control" placeholder="Mobile Cell Phone"/>
          <input ng-if="contact == 'home'" type="text" ng-model="home" class="form-control" placeholder="Home Phone"/>
      </div>
  </div>
</div>

<div class="form-group">
  <label>Objective</label>
  <input ng-model="obj" type="text" class="form-control" placeholder="Objective" row="3"></input>
</div>

<div class="form-group">
  <label>Job Interests</label>
  <div class="row">
      <div class="col-xs-12 col-md-4">
          <select name="job_interests[]" class="form-control" id="catergories">
          </select>
      </div>
      <div class="col-xs-12 col-md-4">
          <select name="job_interests[]" class="form-control" id="catergories2">
          </select>
      </div>
      <div class="col-xs-12 col-md-4">
          <select name="job_interests[]" class="form-control" id="catergories3">
          </select>
      </div>
  </div>
</div>
