<div class="col-xs-12 col-sm-8">
<center>Experience</center>
<div class="form-group">
  <label>Company Name</label>
  <input type="text" class="form-control" ng-model="company_name" name="company_name" placeholder="Company Name">
</div>
<div class="form-group">
  <label>Job Position</label>
  <input type="text" class="form-control" ng-model="jb_position" name="job_position" placeholder="Job Position">
</div>
<div class="form-group">
  <label>Job Description</label>
  <textarea type="text" class="form-control" ng-model="jb_description" name="job_description" placeholder="Password"></textarea>
</div>
<div class="form-group">
  <!-- <div class="col-lg-12"> -->
  <label>Start - End Date</label>
  <!-- </div> -->
  <div class="row">
    <div class="col-lg-6">
      <input type="date" ng-model="start_date" class="form-control" name="start_date">
    </div>
    <div class="col-lg-6">
      <input type="date" ng-model="end_date" class="form-control" name="end_date">
    </div>
  </div>
</div>
<div class="row">
    <div class="btn btn-primary" ng-click="addExp()">Add Exp</div>
</div>
</div>
<div class="col-xs-12 col-sm-4">
    <div ng-repeat="item in exp" class="panel panel-default">
        <div class="panel-body">
            {{item.jb_position}}
            {{item.jb_description}}
            {{item.company_name}}
            {{item.start_date}}
            {{item.end_date}}
            <span class="fa fa-times pull-right" ng-click="removeItem($index, exp)"></span>
        </div>
    </div>
</div>
