<div class="col-xs-12 col-sm-8">
    <center>Volunteer Experience</center>
    <div class="form-group">
      <label>Organization</label>
      <input type="text" ng-model="volData.org" class="form-control" placeholder="Name of Organization">
    </div>
    <div class="form-group">
      <label>Role</label>
      <input type="text" ng-model="volData.role" class="form-control" placeholder="Role">
    </div>
    <div class="form-group">
      <label>Cause</label>
      <input type="text" ng-model="volData.cause" class="form-control" placeholder="Cause">
    </div>
    <div class="row">
        <div class="btn btn-primary" ng-click="addVol()">Add Vol</div>
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <div ng-repeat="item in vol" class="panel panel-default">
        <div class="panel-body">
            {{item.org}}
            {{item.role}}
            {{item.cause}}
            {{item.desc}}
            <span class="fa fa-times pull-right" ng-click="removeItem($index, vol)"></span>
        </div>
    </div>
</div>
