<div class="footer">
    <h3>Partnerships</h3>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6">
        <a href="http://www.cypresshills.org/">
          <img alt="cypress-hills-logo"
               src="http://www.cypresshills.org/chw/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif" />
        </a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <a href="http://naf.org/">
          <img alt="naf-logo"
               src="http://dcte.dadeschools.net/images/naflogos/ev-1.owa.jpeg" />
        </a>
      </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <center><hr />made with <p>&hearts;<p></cneter>
    </div>
  </div>
  <div class="row spacer">

  </div>

</div>


</body>
</html>
