    <!-- <div id="page" class="hfeed site"> -->
        <footer id="colophon" class="site-footer" role="contentinfo">

            <center>
                <p>Partnerships</p>
                <br/>
                <div class="row">
                    <img alt="cypress-hills-logo" src="http://www.cypresshills.org/chw/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif" width="8%" height="8%" />
                    <img alt="naf-logo" src="http://dcte.dadeschools.net/images/naflogos/ev-1.owa.jpeg" width="8%" height="8%" />
                </div>
            </center>

        </footer>

    <!-- </div> -->
</body>
</html>
