<% include ../templates/header.ejs %>
<div class="container" ng-init="refresh()" ng-controller="userCtrl">
   <div class="header">
      <h1>
      Profile Page
      <h1/>
   </div>
   <div class="panel panel-default">
      <div class="panel-body row">
         <div class="col-sm-2">
            <img class="img-responsive" src="http://www.fixflo.com/wp-content/uploads/2016/06/Duncan.png" alt="...">
         </div>
         <div class="col-sm-10">
            <div class="right">
               <h1>{{ usr.first }} {{ usr.last }}</h1>
               <p ng-if="usr.home != ''"><u>Home:</u> {{ usr.home }}</p>
               <p ng-if="usr.cell != ''"><u>Cell: </u>{{ usr.cell }}</p>
               <p><u>Email Address:</u> {{ usr.email }}</p>
            </div>
         </div>
      </div>
   </div>
   <% include ./Forms/eduForm %>
   <% include ./Forms/expForm %>
   <% include ./Forms/volForm %>
</div>
</body>
</html>
