<% include ../Templates/header %>
<div class="container" ng-controller="stepsCtrl">
    <div class="row">
        <div ng-show="page == 1">
            <% include Steps/basicForm.ejs %>
        </div>
        <div ng-show="page == 2">
            <% include Steps/eduForm.ejs %>
        </div>
        <div ng-show="page == 3">
            <% include Steps/expForm.ejs %>
        </div>
        <div ng-show="page == 4">
            <% include Steps/volForm.ejs %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div ng-show="page > 1" class="btn btn-primary" ng-click="back()">Back</div>
        <div ng-show="page < 4" class="btn btn-primary" ng-click="next()">Next</div>
        <div ng-show="page == 4" class="btn btn-primary" ng-click="createUser()">Continue</div>
    </div>
</div>
</body>
</html>
