<% include ../templates/header %>

<div class="container" ng-init="refresh()" ng-controller="jobCtrl">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-sm-4">
                <img class="picture" src= "{{ data.logo }}">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <h2 style="display: inline-block">{{data.position}}</h2>
                    <h4 style="display: inline-block"><em> - {{ data.company.name }}</em></h4>
                    <h4><em>{{ results.catergory }}</em></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Description</h1>
                    <h4>{{ results.desc }}</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Required Skills</h1>
                        <li ng-repeat="skill in data.req_skills"><p>{{ results.req_skills[i] }}</p></li>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Contact Information</h1>
                <h4>Email: {{ data.contact.email }}</h4>
                <h4>Website: {{ results.url }}</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>
