<% include ../templates/header.ejs %>

<div class="container" ng-init="refresh()" ng-controller="jobCtrl">
    <div class="panel panel-default">
       <div class="panel-body row">
          <div class="col-sm-2">
             <img class="img-responsive" src="{{data.logo}}" alt="...">
          </div>
          <div class="col-sm-10">
             <div class="right">
                <h1>{{ data.position }}</h1>
                <h4>{{ data.company.name }}</h4>
                <p><em>{{ data.catergory }}</em></p>
             </div>
          </div>
       </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Description</h1>
                    <h4>{{ data.desc }}</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Required Skills</h1>
                    <p ng-if="data.req_skills.length == 0">There are no required skills</p>
                    <li ng-repeat="skill in data.req_skills"><p>{{ data }}</p></li>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
